<header>
  <h1>My Account</h1>

  <login-buttons></login-buttons>

  <form class="new-iteam" ng-submit="$ctrl.addIteam($ctrl.newIteam)" ng-show="$ctrl.currentUser">
    <input ng-model="$ctrl.newIteam" type="number" name="value" placeholder="Type to add new iteam"/>
  </form>
</header>

<ul>
  <li ng-repeat="iteam in $ctrl.balance" ng-class="{'private': iteam.private}">

    <button class="delete" ng-click="$ctrl.removeIteam(iteam)">&times;</button>

    <span class="text">
      <strong>{{iteam.username}}</strong> - {{iteam.value}}
    </span>

    <button class="toggle-private" ng-click="$ctrl.setPrivate(iteam)" ng-show="iteam.owner === $ctrl.currentUser._id">
      {{iteam.private == true ? "Private" : "Public"}}
    </button>
  </li>
</ul>
